[submodule "test/lib/heat-iaas"]
	path = test/lib/heat-iaas
	url = git@github.com:evoila/heat-iaas.git
[submodule "test/lib/heat-common"]
	path = test/lib/heat-common
	url = git@github.com:evoila/heat-common.git
[submodule "test/lib/heat-rabbitmq"]
	path = test/lib/heat-rabbitmq
	url = git@github.com:evoila/heat-rabbitmq.git
[submodule "test/lib/heat-redis"]
	path = test/lib/heat-redis
	url = git@github.com:evoila/heat-redis.git
